// ---------------------------------------
// Add var
// ---------------------------------------
/* begin standard */
$mau:#3c3c3c; 
$mau_dam:darken($mau,5%);
$body_color:#3c3c3c;
$menu_color_hover_active:#3c3c3c;
$menu_color:#ffe03d;
/* end standard */
$logo_bg:#ffe03d;
$menu_bg:#3c3c3c;
$ddsmoothmenu_border:#909090;




